<div class="d-flex justify-content-center bg-gray bg-auth">
  <div class="my-auto mx-3 p-4 rounded-7 shadow bg-white card-auth animate__animated animate__fadeInDown" style="width: 500px;">
    <div class="d-flex mb-4">
      <img class="mx-auto" width="100px" src="assets/img/logo.png">
    </div>
    <form [formGroup]="SignInForm">
      <div class="form-floating">
        <input class="form-control" type="email" formControlName="email" placeholder=" ">
        <label>Correo</label>
      </div>
      <small class="text-danger" *ngIf="SignInForm.controls['email'].touched && SignInForm.controls['email'].errors?.required">El correo es requerido</small>
      <div class="form-floating mt-3">
        <input class="form-control pe-5" placeholder="Contraseña" formControlName="password" type="{{view ? 'text' : 'password'}}">
        <i class="far {{view ? 'fa-eye-slash' : 'fa-eye'}} position-absolute top-0 end-0 my-4 mx-3" (click)="view = !view"  role="button"></i>
        <label>Contraseña</label>
      </div>
      <small class="text-danger" *ngIf="SignInForm.controls['password'].touched && SignInForm.controls['password'].errors?.required">La contraseña es requerida</small>
      <div class="mt-3">
        <div class="form-check">
          <input class="form-check-input" formControlName="remember" type="checkbox" id="remember">
          <label class="form-check-label" for="remember">
            Recuerdame
          </label>
        </div>
      </div>
      <div class="mt-4">
        <button class="btn btn-1 w-100" (click)="login()">
          Ingresar
        </button>
      </div>
    </form>
  </div>
</div>

